# Link
https://www.youtube.com/watch?v=OUNXFU7xuCc&list=PLo9Vi5B84_dc-zFPjeXdxCaawQiwEW60x&index=1

In [2]:
import pandas as pd
import numpy as np
import yfinance as yf
import matplotlib.pyplot as plt

In [3]:
start_date = '2003-01-01'
end_date = '2023-06-01'

In [4]:
#Downloading the data 
ticker = 'SPY'
df = yf.download(ticker,start_date,end_date)

[*********************100%***********************]  1 of 1 completed

In [5]:
df.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2003-01-02  88.849998  91.300003  88.540001  91.070000  61.811775  44516300
2003-01-03  90.910004  91.379997  90.500000  91.349998  62.001823  32222600
2003-01-06  91.239998  93.489998  91.169998  92.959999  63.094555  40984500
2003-01-07  92.900002  93.370003  92.199997  92.730003  62.938465  38640400
2003-01-08  92.199997  92.400002  91.050003  91.389999  62.028965  38702200

In [6]:
df.shape

(5138, 6)

In [7]:
msft = yf.Ticker("MSFT")

# get all stock info
msft.info

{'address1': 'One Microsoft Way',
 'city': 'Redmond',
 'state': 'WA',
 'zip': '98052-6399',
 'country': 'United States',
 'phone': '425 882 8080',
 'fax': '425 706 7329',
 'website': 'https://www.microsoft.com',
 'industry': 'Software—Infrastructure',
 'industryDisp': 'Software—Infrastructure',
 'sector': 'Technology',
 'longBusinessSummary': 'Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. The company operates in three segments: Productivity and Business Processes, Intelligent Cloud, and More Personal Computing. The Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, Microsoft Viva, and Skype for Business; Skype, Outlook.com, OneDrive, and LinkedIn; and Dynamics 365, a set of cloud-based and on-premises business solutions for organizations and enterprise divisions. The Intelligent Cloud segment licenses SQL, Windows Servers, Visual Studio, System Center, and related Client Access Licenses; GitHub that provides a collaboration platform and code hosting service for developers; Nuance provides healthcare and enterprise AI solutions; and Azure, a cloud platform. It also offers enterprise support, Microsoft consulting, and nuance professional services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification on Microsoft products. The More Personal Computing segment provides Windows original equipment manufacturer (OEM) licensing and other non-volume licensing of the Windows operating system; Windows Commercial, such as volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; and Windows Internet of Things. It also offers Surface, PC accessories, PCs, tablets, gaming and entertainment consoles, and other devices; Gaming, including Xbox hardware, and Xbox content and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. The company sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online stores, and retail stores. Microsoft Corporation was founded in 1975 and is headquartered in Redmond, Washington.',
 'fullTimeEmployees': 221000,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Satya  Nadella',
   'age': 55,
   'title': 'Chairman & CEO',
   'yearBorn': 1967,
   'fiscalYear': 2022,
   'totalPay': 12676750,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Bradford L. Smith LCA',
   'age': 63,
   'title': 'Pres & Vice Chairman',
   'yearBorn': 1959,
   'fiscalYear': 2022,
   'totalPay': 4655274,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Amy E. Hood',
   'age': 50,
   'title': 'Exec. VP & CFO',
   'yearBorn': 1972,
   'fiscalYear': 2022,
   'totalPay': 4637915,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Judson  Althoff',
   'age': 49,
   'title': 'Exec. VP & Chief Commercial Officer',
   'yearBorn': 1973,
   'fiscalYear': 2022,
   'totalPay': 4428268,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Christopher David Young',
   'age': 50,
   'title': 'Exec. VP of Bus. Devel., Strategy & Ventures',
   'yearBorn': 1972,
   'fiscalYear': 2022,
   'totalPay': 4588876,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Alice L. Jolla',
   'age': 55,
   'title': 'Corp. VP & Chief Accounting Officer',
   'yearBorn': 1967,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Brett  Iversen',
   'title': 'Gen. Mang. of Investor Relations',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Frank X. Shaw',
   'title': 'Corp. VP for Corp. Communications',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Christopher C. Capossela',
   'age': 52,
   'title': 'Exec. VP & Chief Marketing Officer',
   'yearBorn': 1970,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Keith Ranger Dolliver Esq.',
   'title': 'VP, Deputy Gen. Counsel of Corp., External & Legal Affairs and Assistant Sec.',
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 6,
 'boardRisk': 3,
 'compensationRisk': 3,
 'shareHolderRightsRisk': 2,
 'overallRisk': 2,
 'governanceEpochDate': 1685577600,
 'compensationAsOfEpochDate': 1672444800,
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 335.94,
 'open': 335.33,
 'dayLow': 332.17,
 'dayHigh': 335.37,
 'regularMarketPreviousClose': 335.94,
 'regularMarketOpen': 335.33,
 'regularMarketDayLow': 332.17,
 'regularMarketDayHigh': 335.37,
 'dividendRate': 2.72,
 'dividendYield': 0.0081,
 'exDividendDate': 1684281600,
 'payoutRatio': 0.28170002,
 'fiveYearAvgDividendYield': 1.09,
 'beta': 0.931034,
 'trailingPE': 36.112553,
 'forwardPE': 30.473059,
 'volume': 19343994,
 'regularMarketVolume': 19343994,
 'averageVolume': 29611850,
 'averageVolume10days': 30389200,
 'averageDailyVolume10Day': 30389200,
 'bid': 332.5,
 'ask': 333.0,
 'bidSize': 800,
 'askSize': 900,
 'marketCap': 2481074208768,
 'fiftyTwoWeekLow': 213.43,
 'fiftyTwoWeekHigh': 338.56,
 'priceToSalesTrailing12Months': 11.951743,
 'fiftyDayAverage': 302.9096,
 'twoHundredDayAverage': 261.6485,
 'trailingAnnualDividendRate': 2.66,
 'trailingAnnualDividendYield': 0.007918081,
 'currency': 'USD',
 'enterpriseValue': 2472770797568,
 'profitMargins': 0.33248,
 'floatShares': 7428795636,
 'sharesOutstanding': 7435489792,
 'sharesShort': 42337959,
 'sharesShortPriorMonth': 40038879,
 'sharesShortPreviousMonthDate': 1681430400,
 'dateShortInterest': 1684108800,
 'sharesPercentSharesOut': 0.0057,
 'heldPercentInsiders': 0.00052,
 'heldPercentInstitutions': 0.73767,
 'shortRatio': 1.51,
 'shortPercentOfFloat': 0.0057,
 'impliedSharesOutstanding': 0,
 'bookValue': 26.178,
 'priceToBook': 12.746581,
 'lastFiscalYearEnd': 1656547200,
 'nextFiscalYearEnd': 1688083200,
 'mostRecentQuarter': 1680220800,
 'earningsQuarterlyGrowth': 0.094,
 'netIncomeToCommon': 69020000256,
 'trailingEps': 9.24,
 'forwardEps': 10.95,
 'pegRatio': 2.85,
 'lastSplitFactor': '2:1',
 'lastSplitDate': 1045526400,
 'enterpriseToRevenue': 11.912,
 'enterpriseToEbitda': 24.708,
 '52WeekChange': 0.23397803,
 'SandP52WeekChange': 0.040838003,
 'lastDividendValue': 0.68,
 'lastDividendDate': 1684281600,
 'exchange': 'NMS',
 'quoteType': 'EQUITY',
 'symbol': 'MSFT',
 'underlyingSymbol': 'MSFT',
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation',
 'firstTradeDateEpochUtc': 511108200,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EDT',
 'uuid': 'b004b3ec-de24-385e-b2c1-923f10d3fb62',
 'messageBoardId': 'finmb_21835',
 'gmtOffSetMilliseconds': -14400000,
 'currentPrice': 333.68,
 'targetHighPrice': 400.0,
 'targetLowPrice': 232.0,
 'targetMeanPrice': 340.28,
 'targetMedianPrice': 340.0,
 'recommendationMean': 1.8,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 43,
 'totalCash': 104419000320,
 'totalCashPerShare': 14.043,
 'ebitda': 100080001024,
 'totalDebt': 79312003072,
 'quickRatio': 1.655,
 'currentRatio': 1.913,
 'totalRevenue': 207590998016,
 'debtToEquity': 40.739,
 'revenuePerShare': 27.844,
 'returnOnAssets': 0.14829001,
 'returnOnEquity': 0.38601002,
 'grossProfits': 135620000000,
 'freeCashflow': 42964873216,
 'operatingCashflow': 83441000448,
 'earningsGrowth': 0.104,
 'revenueGrowth': 0.071,
 'grossMargins': 0.68522,
 'ebitdaMargins': 0.48209998,
 'operatingMargins': 0.41415,
 'financialCurrency': 'USD',
 'trailingPegRatio': 2.452}

In [12]:
amz = yf.Ticker("AMZN")
amz.info

{'address1': '410 Terry Avenue North',
 'city': 'Seattle',
 'state': 'WA',
 'zip': '98109-5210',
 'country': 'United States',
 'phone': '206 266 1000',
 'website': 'https://www.aboutamazon.com',
 'industry': 'Internet Retail',
 'industryDisp': 'Internet Retail',
 'sector': 'Consumer Cyclical',
 'longBusinessSummary': "Amazon.com, Inc. engages in the retail sale of consumer products and subscriptions through online and physical stores in North America and internationally. It operates through three segments: North America, International, and Amazon Web Services (AWS). The company's products offered through its stores include merchandise and content purchased for resale; and products offered by third-party sellers. It also manufactures and sells electronic devices, including Kindle, Fire tablets, Fire TVs, Rings, Blink, eero, and Echo; and develops and produces media content. In addition, the company offers programs that enable sellers to sell their products in its stores; and programs that allow authors, musicians, filmmakers, Twitch streamers, skill and app developers, and others to publish and sell content. Further, it provides compute, storage, database, analytics, machine learning, and other services, as well as fulfillment, advertising, and digital content subscriptions. Additionally, the company offers Amazon Prime, a membership program. It serves consumers, sellers, developers, enterprises, content creators, and advertisers. The company was incorporated in 1994 and is headquartered in Seattle, Washington.",
 'fullTimeEmployees': 1541000,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Jeffrey P. Bezos',
   'age': 58,
   'title': 'Founder & Exec. Chairman',
   'yearBorn': 1964,
   'fiscalYear': 2022,
   'totalPay': 1681840,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Andrew R. Jassy',
   'age': 54,
   'title': 'Pres, CEO & Director',
   'yearBorn': 1968,
   'fiscalYear': 2022,
   'totalPay': 1298723,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Brian T. Olsavsky',
   'age': 58,
   'title': 'Sr. VP & CFO',
   'yearBorn': 1964,
   'fiscalYear': 2022,
   'totalPay': 319850,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. David A. Zapolsky',
   'age': 58,
   'title': 'Sr. VP of Global Public Policy & Gen. Counsel',
   'yearBorn': 1964,
   'fiscalYear': 2022,
   'totalPay': 319850,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Douglas J. Herrington',
   'age': 55,
   'title': 'Chief Exec. Officer of Worldwide Amazon Stores',
   'yearBorn': 1967,
   'fiscalYear': 2022,
   'totalPay': 335438,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Adam N. Selipsky',
   'age': 55,
   'title': 'Chief Exec. Officer of Amazon Web Services, Inc.',
   'yearBorn': 1967,
   'fiscalYear': 2022,
   'totalPay': 360613,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Shelley L. Reynolds',
   'age': 57,
   'title': 'VP, Worldwide Controller & Principal Accounting Officer',
   'yearBorn': 1965,
   'fiscalYear': 2009,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Dr. Werner  Vogels',
   'title': 'Chief Technology Officer',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Dave  Fildes',
   'title': 'Director of Investor Relations',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Anuradha  Aggarwal',
   'title': 'CMO & Director of User Growth',
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 4,
 'boardRisk': 10,
 'compensationRisk': 10,
 'shareHolderRightsRisk': 2,
 'overallRisk': 10,
 'governanceEpochDate': 1685577600,
 'compensationAsOfEpochDate': 1672444800,
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 125.3,
 'open': 125.07,
 'dayLow': 125.0,
 'dayHigh': 127.4,
 'regularMarketPreviousClose': 125.3,
 'regularMarketOpen': 125.07,
 'regularMarketDayLow': 125.0,
 'regularMarketDayHigh': 127.4,
 'payoutRatio': 0.0,
 'beta': 1.263194,
 'trailingPE': 294.44186,
 'forwardPE': 49.26459,
 'volume': 45597213,
 'regularMarketVolume': 45597213,
 'averageVolume': 62708117,
 'averageVolume10days': 64063390,
 'averageDailyVolume10Day': 64063390,
 'bid': 126.1,
 'ask': 126.7,
 'bidSize': 1100,
 'askSize': 1100,
 'marketCap': 1299069272064,
 'fiftyTwoWeekLow': 81.43,
 'fiftyTwoWeekHigh': 146.57,
 'priceToSalesTrailing12Months': 2.4749033,
 'fiftyDayAverage': 108.5182,
 'twoHundredDayAverage': 104.59075,
 'trailingAnnualDividendRate': 0.0,
 'trailingAnnualDividendYield': 0.0,
 'currency': 'USD',
 'enterpriseValue': 1399764287488,
 'profitMargins': 0.00818,
 'floatShares': 8985402139,
 'sharesOutstanding': 10260400128,
 'sharesShort': 65543904,
 'sharesShortPriorMonth': 59071722,
 'sharesShortPreviousMonthDate': 1681430400,
 'dateShortInterest': 1684108800,
 'sharesPercentSharesOut': 0.0064,
 'heldPercentInsiders': 0.09733,
 'heldPercentInstitutions': 0.60428,
 'shortRatio': 0.96,
 'shortPercentOfFloat': 0.0085,
 'impliedSharesOutstanding': 0,
 'bookValue': 15.064,
 'priceToBook': 8.404806,
 'lastFiscalYearEnd': 1672444800,
 'nextFiscalYearEnd': 1703980800,
 'mostRecentQuarter': 1680220800,
 'netIncomeToCommon': 4294000128,
 'trailingEps': 0.43,
 'forwardEps': 2.57,
 'pegRatio': -0.29,
 'lastSplitFactor': '20:1',
 'lastSplitDate': 1654473600,
 'enterpriseToRevenue': 2.667,
 'enterpriseToEbitda': 24.474,
 '52WeekChange': 0.04480934,
 'SandP52WeekChange': 0.040838003,
 'exchange': 'NMS',
 'quoteType': 'EQUITY',
 'symbol': 'AMZN',
 'underlyingSymbol': 'AMZN',
 'shortName': 'Amazon.com, Inc.',
 'longName': 'Amazon.com, Inc.',
 'firstTradeDateEpochUtc': 863703000,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EDT',
 'uuid': '261fd26b-0151-3813-b0d0-97e4ed4c6505',
 'messageBoardId': 'finmb_18749',
 'gmtOffSetMilliseconds': -14400000,
 'currentPrice': 126.61,
 'targetHighPrice': 165.0,
 'targetLowPrice': 90.0,
 'targetMeanPrice': 134.65,
 'targetMedianPrice': 135.0,
 'recommendationMean': 1.8,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 43,
 'totalCash': 64405000192,
 'totalCashPerShare': 6.277,
 'ebitda': 57194000384,
 'totalDebt': 178546999296,
 'quickRatio': 0.689,
 'currentRatio': 0.923,
 'totalRevenue': 524896993280,
 'debtToEquity': 115.545,
 'revenuePerShare': 51.416,
 'returnOnAssets': 0.01906,
 'returnOnEquity': 0.029760001,
 'grossProfits': 225152000000,
 'freeCashflow': 9030625280,
 'operatingCashflow': 54329999360,
 'revenueGrowth': 0.094,
 'grossMargins': 0.44728002,
 'ebitdaMargins': 0.10896,
 'operatingMargins': 0.02542,
 'financialCurrency': 'USD',
 'trailingPegRatio': 4.4961}

In [10]:
goog = yf.Ticker("GOOG")
goog.info

{'address1': '1600 Amphitheatre Parkway',
 'city': 'Mountain View',
 'state': 'CA',
 'zip': '94043',
 'country': 'United States',
 'phone': '650 253 0000',
 'website': 'https://www.abc.xyz',
 'industry': 'Internet Content & Information',
 'industryDisp': 'Internet Content & Information',
 'sector': 'Communication Services',
 'longBusinessSummary': 'Alphabet Inc. offers various products and platforms in the United States, Europe, the Middle East, Africa, the Asia-Pacific, Canada, and Latin America. It operates through Google Services, Google Cloud, and Other Bets segments. The Google Services segment provides products and services, including ads, Android, Chrome, hardware, Gmail, Google Drive, Google Maps, Google Photos, Google Play, Search, and YouTube. It is also involved in the sale of apps and in-app purchases and digital content in the Google Play store; and Fitbit wearable devices, Google Nest home products, Pixel phones, and other devices, as well as in the provision of YouTube non-advertising services. The Google Cloud segment offers infrastructure, cybersecurity, data, analytics, AI, and machine learning, and other services; Google Workspace that include cloud-based collaboration tools for enterprises, such as Gmail, Docs, Drive, Calendar, and Meet; and other services for enterprise customers. The Other Bets segment sells health technology and internet services. The company was founded in 1998 and is headquartered in Mountain View, California.',
 'fullTimeEmployees': 190711,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Sundar  Pichai',
   'age': 49,
   'title': 'CEO & Director',
   'yearBorn': 1973,
   'fiscalYear': 2022,
   'totalPay': 7947461,
   'exercisedValue': 39618220,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Lawrence Edward Page',
   'age': 49,
   'title': 'Co-Founder & Director',
   'yearBorn': 1973,
   'fiscalYear': 2022,
   'totalPay': 1,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Sergey  Brin',
   'age': 48,
   'title': 'Co-Founder & Director',
   'yearBorn': 1974,
   'fiscalYear': 2022,
   'totalPay': 1,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Ruth M. Porat',
   'age': 64,
   'title': 'Sr. VP & CFO',
   'yearBorn': 1958,
   'fiscalYear': 2022,
   'totalPay': 1790046,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. J. Kent Walker',
   'age': 61,
   'title': 'Pres of Global Affairs, Chief Legal Officer & Company Sec.',
   'yearBorn': 1961,
   'fiscalYear': 2022,
   'totalPay': 1787541,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Dr. Prabhakar  Raghavan',
   'age': 61,
   'title': 'Sr. VP of Knowledge and Information - Google',
   'yearBorn': 1961,
   'fiscalYear': 2022,
   'totalPay': 1785329,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Philipp  Schindler',
   'age': 51,
   'title': 'Sr. VP & Chief Bus. Officer of Google',
   'yearBorn': 1971,
   'fiscalYear': 2022,
   'totalPay': 1785814,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': "Ms. Amie Thuener O'Toole",
   'age': 47,
   'title': 'Chief Accounting Officer & VP',
   'yearBorn': 1975,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Ellen  West',
   'title': 'VP of Investor Relations',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Fiona Clare Cicconi',
   'age': 56,
   'title': 'Chief People Officer',
   'yearBorn': 1966,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 8,
 'boardRisk': 2,
 'compensationRisk': 10,
 'shareHolderRightsRisk': 10,
 'overallRisk': 10,
 'governanceEpochDate': 1685577600,
 'compensationAsOfEpochDate': 1672444800,
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 126.63,
 'open': 126.6,
 'dayLow': 125.97,
 'dayHigh': 128.88,
 'regularMarketPreviousClose': 126.63,
 'regularMarketOpen': 126.6,
 'regularMarketDayLow': 125.97,
 'regularMarketDayHigh': 128.88,
 'payoutRatio': 0.0,
 'beta': 1.100633,
 'trailingPE': 28.298674,
 'forwardPE': 21.939966,
 'volume': 17840690,
 'regularMarketVolume': 17840690,
 'averageVolume': 27962876,
 'averageVolume10days': 26179340,
 'averageDailyVolume10Day': 26179340,
 'bid': 127.7,
 'ask': 128.08,
 'bidSize': 1000,
 'askSize': 800,
 'marketCap': 1620172079104,
 'fiftyTwoWeekLow': 83.45,
 'fiftyTwoWeekHigh': 128.88,
 'priceToSalesTrailing12Months': 5.692564,
 'fiftyDayAverage': 112.0961,
 'twoHundredDayAverage': 101.49777,
 'trailingAnnualDividendRate': 0.0,
 'trailingAnnualDividendYield': 0.0,
 'currency': 'USD',
 'enterpriseValue': 1504436289536,
 'profitMargins': 0.20584999,
 'floatShares': 10959288580,
 'sharesOutstanding': 5873999872,
 'sharesShort': 35633260,
 'sharesShortPriorMonth': 32145546,
 'sharesShortPreviousMonthDate': 1681430400,
 'dateShortInterest': 1684108800,
 'sharesPercentSharesOut': 0.0028,
 'heldPercentInsiders': 0.00014999999,
 'heldPercentInstitutions': 0.64203,
 'shortRatio': 1.34,
 'impliedSharesOutstanding': 0,
 'bookValue': 20.507,
 'priceToBook': 6.2373824,
 'lastFiscalYearEnd': 1672444800,
 'nextFiscalYearEnd': 1703980800,
 'mostRecentQuarter': 1680220800,
 'earningsQuarterlyGrowth': -0.084,
 'netIncomeToCommon': 58587000832,
 'trailingEps': 4.52,
 'forwardEps': 5.83,
 'pegRatio': 1.57,
 'lastSplitFactor': '20:1',
 'lastSplitDate': 1658102400,
 'enterpriseToRevenue': 5.286,
 'enterpriseToEbitda': 17.194,
 '52WeekChange': 0.09102845,
 'SandP52WeekChange': 0.040838003,
 'exchange': 'NMS',
 'quoteType': 'EQUITY',
 'symbol': 'GOOG',
 'underlyingSymbol': 'GOOG',
 'shortName': 'Alphabet Inc.',
 'longName': 'Alphabet Inc.',
 'firstTradeDateEpochUtc': 1092922200,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EDT',
 'uuid': 'ee8cce8c-2475-31c0-8436-ecdf889cbfbd',
 'messageBoardId': 'finmb_29096',
 'gmtOffSetMilliseconds': -14400000,
 'currentPrice': 127.91,
 'targetHighPrice': 135.37,
 'targetLowPrice': 112.03,
 'targetMeanPrice': 120.84,
 'targetMedianPrice': 121.36,
 'recommendationMean': 1.5,
 'recommendationKey': 'strong_buy',
 'numberOfAnalystOpinions': 9,
 'totalCash': 115101999104,
 'totalCashPerShare': 9.065,
 'ebitda': 87495999488,
 'totalDebt': 29493000192,
 'quickRatio': 2.195,
 'currentRatio': 2.353,
 'totalRevenue': 284612001792,
 'debtToEquity': 11.305,
 'revenuePerShare': 21.965,
 'returnOnAssets': 0.12415,
 'returnOnEquity': 0.22757,
 'grossProfits': 156633000000,
 'freeCashflow': 55862624256,
 'operatingCashflow': 89898000384,
 'earningsGrowth': -0.047,
 'revenueGrowth': 0.026,
 'grossMargins': 0.55302,
 'ebitdaMargins': 0.30742002,
 'operatingMargins': 0.25355,
 'financialCurrency': 'USD',
 'trailingPegRatio': 1.5871}

In [24]:
#Downloading multiple figures
tickers = ['SPY']
df = yf.download(tickers,start_date,end_date)

[*********************100%***********************]  1 of 1 completed

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5138 entries, 2003-01-02 to 2023-05-31
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       5138 non-null   float64
 1   High       5138 non-null   float64
 2   Low        5138 non-null   float64
 3   Close      5138 non-null   float64
 4   Adj Close  5138 non-null   float64
 5   Volume     5138 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 281.0 KB

In [26]:
df.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2003-01-02  88.849998  91.300003  88.540001  91.070000  61.811787  44516300
2003-01-03  90.910004  91.379997  90.500000  91.349998  62.001808  32222600
2003-01-06  91.239998  93.489998  91.169998  92.959999  63.094601  40984500
2003-01-07  92.900002  93.370003  92.199997  92.730003  62.938484  38640400
2003-01-08  92.199997  92.400002  91.050003  91.389999  62.028965  38702200

In [27]:
#Converting our index to date
df.index = df.index.date
df.head()

                 Open       High        Low      Close  Adj Close    Volume
2003-01-02  88.849998  91.300003  88.540001  91.070000  61.811787  44516300
2003-01-03  90.910004  91.379997  90.500000  91.349998  62.001808  32222600
2003-01-06  91.239998  93.489998  91.169998  92.959999  63.094601  40984500
2003-01-07  92.900002  93.370003  92.199997  92.730003  62.938484  38640400
2003-01-08  92.199997  92.400002  91.050003  91.389999  62.028965  38702200

## Calculating daily returns

In [28]:
df['R'] = df['Adj Close'].pct_change()
df.head()

,Open,High,Low,Close,Adj Close,Volume,R
2003-01-02,88.849998,91.300003,88.540001,91.070000,61.811787,44516300,NaN
2003-01-03,90.910004,91.379997,90.500000,91.349998,62.001808,32222600,0.003074
2003-01-06,91.239998,93.489998,91.169998,92.959999,63.094601,40984500,0.017625
2003-01-07,92.900002,93.370003,92.199997,92.730003,62.938484,38640400,-0.002474
2003-01-08,92.199997,92.400002,91.050003,91.389999,62.028965,38702200,-0.014451

In [29]:
yf.download(tickers = "SPY AAPL",  # list of tickers
            period = "1y",         # time period
            interval = "1d",       # trading interval
            prepost = False,       # download pre/post market hours data?
            repair = True)

[*********************100%***********************]  2 of 2 completed

             Adj Close                   Close                    High  \
                  AAPL         SPY        AAPL         SPY        AAPL
Date
2022-06-07  147.827286  408.813660  148.710007  415.739990  149.000000
2022-06-08  147.081741  404.368958  147.960007  411.220001  149.869995
2022-06-09  141.793320  394.751923  142.639999  401.440002  147.949997
2022-06-10  136.316040  383.305817  137.130005  389.799988  140.759995
2022-06-13  131.097198  368.752411  131.880005  375.000000  135.199997
...                ...         ...         ...         ...         ...
2023-06-01  180.089996  421.820007  180.089996  421.820007  180.119995
2023-06-02  180.949997  427.920013  180.949997  427.920013  181.779999
2023-06-05  179.580002  427.100006  179.580002  427.100006  184.949997
2023-06-06  179.210007  428.029999  179.210007  428.029999  180.119995
2023-06-07  180.845001  429.309998  180.845001  429.309998  180.860001

                               Low                    Open              \
                   SPY        AAPL         SPY        AAPL         SPY
Date
2022-06-07  416.220001  144.100006  407.609985  144.350006  408.100006
2022-06-08  415.820007  147.460007  410.380005  148.580002  413.929993
2022-06-09  411.739990  142.529999  401.440002  147.080002  409.339996
2022-06-10  395.779999  137.059998  389.750000  140.279999  394.880005
2022-06-13  381.809998  131.440002  373.299988  132.869995  379.850006
...                ...         ...         ...         ...         ...
2023-06-01  422.920013  176.929993  416.790009  177.699997  418.089996
2023-06-02  428.739990  179.259995  423.950012  181.029999  424.500000
2023-06-05  429.619995  178.039993  426.369995  182.630005  428.279999
2023-06-06  428.579987  177.429993  425.989990  179.970001  426.670013
2023-06-07  429.584991  178.220993  428.339996  179.964996  426.670013

               Volume
                 AAPL        SPY
Date
2022-06-07   67808200   59272400
2022-06-08   53950200   64350000
2022-06-09   69473000   86289800
2022-06-10   91437900  132893900
2022-06-13  122207100  170004900
...               ...        ...
2023-06-01   68901800   88865000
2023-06-02   61945900   91366700
2023-06-05  121946500   65460200
2023-06-06   64786500   63885800
2023-06-07    6964189    5171239

[252 rows x 12 columns]